@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap&subset=latin-ext');

body {
  margin: 0;
}

:root {
  --grey: #3B3A3A;
  --green: #63D488;
  font-family: 'Quicksand', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
}

header img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

header h1 {
  font-size: 25px;
  
}

header h1 span {
  margin: 0;
  color: var(--green)
}

main {
  margin: 0 auto;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.body-text-container {
  width: 100%;
}

#body {
  max-width: 940px;
  margin: 0 auto;
}

#body h2 {
  display: inline-block;
  font-size: 36px;
  margin-bottom: 40px;
  margin-top: 0;
  color: var(--grey);
}

#body p {
  width: 100%;
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  color: var(--grey);
  margin-bottom: 20px;
  margin-top: 0;
  max-width: 80%;
}

.mail-button {
  display: flex;
  width: 175px;
  height: 55px;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: #fff;
  border-radius: 5px;
  transition: all 200ms linear;
  margin: 75px auto 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.mail-button:hover {
  opacity: .8;
}

.mail-button img {
  fill: #fff;
  height: 18px;
  margin-right: 10px;
}

#body a {
  color: var(--green);
  text-decoration: none;
}

.link {
  border-left: 2px solid var(--grey);
   -webkit-animation: blink 500ms linear 0s infinite alternate;
  animation: blink 500ms linear 0s infinite alternate;
  order: 4;
  height: 16px;
  display: inline;
  margin-left: 2px;
}

footer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons a img {
  width: 25px;
  margin-right: 10px;
}

.copyright-text p {
  color: var(--grey);
  font-size: 18px;
}

 /* Safari 4.0 - 8.0 */
 @-webkit-keyframes blink {
  25% { opacity: 1; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
 }

 /* Standard syntax */
 @keyframes blink {
  25% { opacity: 1; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
 }


@media screen and (min-width: 960px) {
  main, footer {
    width: 940px;
  }
}

@media screen and (max-width: 959px) {
  main {
    padding: 0 5%;
  }
}

@media screen and (max-width: 500px) {
  #body p {
    font-size: 20px;
  }

  #body h2 {
    margin-top: 30px;
    font-size: 30px;
  }

  .mail-button {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  footer {
    flex-direction: column;
  }

  .copyright-text p {
    margin: 10px 0;
    font-size: 15px;
  }

  .main {
    height: auto;
  }
}
